In [11]:
import pandas as pd
import re

In [ ]:
# Read and strip lines
with open('../data/30k_resume_files.txt', 'r', encoding="Windows-1252") as f:
    lines = [line.strip() for line in f if line.strip()]

In [5]:
# Split each line on ':::' and keep only the last part (i.e., the actual resume content)
parsed = [line.split(":::") for line in lines]

In [6]:
# Step 3: Store as a list of dicts (for future conversion to DataFrame if needed)
resume_data = []
for i, parts in enumerate(parsed):
    if len(parts) == 3:
        filepath, role_skill_text, resume_text = parts
        resume_data.append({
            "resume_id": i,
            "filepath": filepath,
            "roles_skills": role_skill_text,
            "resume_text": resume_text
        })

In [7]:
# Step 4: View sample
for i in range(5):
    print(f"\nResume {i+1}:\n{'='*40}")
    print(f"Roles/Skills: {resume_data[i]['roles_skills'][:200]}...")
    print(f"Text Sample: {resume_data[i]['resume_text'][:300]}...")

Resume 1:
========================================
Roles/Skills: Database Administrator;Database Administrator;Database administration;Database;Ms sql server;Ms sql server 2005;Sql server;Sql server 2005;Sql server 2008;Sql server 2008 r2;Sql server 2012;Sql;Sql qu...
Text Sample: Database Administrator <span class="hl">Database</span> <span class="hl">Administrator</span> Database Administrator - Family Private Care LLC Lawrenceville, GA A self-motivated Production SQL Server Database Administrator who possesses  strong analytical and problem solving skills. My experience in...

Resume 2:
========================================
Roles/Skills: Database Administrator;SQL, Microsoft PowerPoint, Windows XP, Microsoft office, Assembly Language, Microsoft Windows 7, C, C#, Visual basic and java programming ,Microprocessors ,Hardware/Systems Desi...
Text Sample: Database Administrator <span class="hl">Database</span> <span class="hl">Administrator</span> sql server database administrator Houston, TX DATABASE ADMINISTRATOR  Over five years of experience in database management systems administration, expert at developing and maintaining database, with strong ...

Resume 3:
========================================
Roles/Skills: Oracle Database Administrator;Oracle Database Administrator;DATABASES;ORACLE (4 years);ORACLE 10G;SQL;LINUX;RMAN (4 years);DATAGUARD (3 years)...
Text Sample: Oracle Database Administrator Oracle <span class="hl">Database</span> <span class="hl">Administrator</span> Oracle Database Administrator - Cognizant hyderabad Carrier Objective:  To Obtain a Oracle DBA Position in a progressive Company Where I Can Utilise and Enhance my Experience and Knowledge in ...

Resume 4:
========================================
Roles/Skills: Amazon Redshift Administrator and ETL Developer, Business Intelligence;Database Administrator;Database Administrator;SQL management (5 years);PostgresSQL (7 years);Oracle (1 year);MySQL (4 years);micr...
Text Sample: Amazon Redshift Administrator and ETL Developer, Business Intelligence Amazon Redshift <span class="hl">Administrator</span> and ETL Developer, Business Intelligence ETL Developer and Database Administrator Plantation, FL To work as database administrator, implementing this role appropriately and ef...

Resume 5:
========================================
Roles/Skills: Scrum Master;Oracle Database Administrator/ Scrum Master;Junior Oracle Database Administrator;Oracle;Sql;Linux;Sun;Ux;Rman;Hp-ux;Rdbms;Oem;Loader;Agile Scrum;Jira;Scrum Master;CSM;Scrum...
Text Sample: Scrum Master Scrum Master Scrum Master Richmond, VA Work Experience Scrum Master Quest Technologies - Washington, DC October 2015 to April 2019 Responsibilities:  Organize and facilitate Scrum ceremonies and backlog refinement under minimal supervision  • Champion Agile software development best pra...

In [ ]:
# Convert the dictionary to a dataframe
df = pd.DataFrame(resume_data)
df.head()

,resume_id,filepath,roles_skills,resume_text
0,0,C:\Workspace\java\scrape_indeed\dba_part_1\1.h...,Database Administrator;Database Administrator;...,"Database Administrator <span class=""hl"">Databa..."
1,1,C:\Workspace\java\scrape_indeed\dba_part_1\10....,"Database Administrator;SQL, Microsoft PowerPoi...","Database Administrator <span class=""hl"">Databa..."
2,2,C:\Workspace\java\scrape_indeed\dba_part_1\100...,Oracle Database Administrator;Oracle Database ...,Oracle Database Administrator Oracle <span cla...
3,3,C:\Workspace\java\scrape_indeed\dba_part_1\100...,Amazon Redshift Administrator and ETL Develope...,Amazon Redshift Administrator and ETL Develope...
4,4,C:\Workspace\java\scrape_indeed\dba_part_1\100...,Scrum Master;Oracle Database Administrator/ Sc...,Scrum Master Scrum Master Scrum Master Richmon...

In [ ]:
# Remove all HTML tags (anything in <...>)
df['cleaned_text'] = df['resume_text'].apply(lambda x: re.sub(r'<[^>]+>', ' ', x))